@model MyLibrary.Models.Copies

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Copies</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoCopies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoCopies)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CopiesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
